/*
This file is part of TransferStuff.

TransferStuff is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

TransferStuff is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with TransferStuff. If not, see <https://www.gnu.org/licenses/>. 
*/

.dialog .transferstuff {
    input:invalid {
        background-color: red;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: auto;
    }

    &.item {
        .form-group > * {
            flex: none;
            width: auto;
            margin-right: 0.2em;
            &:last-child {
                margin-right: 0;
            }
        }

        .transferedQuantity {
            width: 8em;
        }
    }

    &.currency {
        .form-group {
            flex-wrap: nowrap;
        }
        .currency {
            margin-right: 0.2em;
            flex: unset;
            &:last-child {
                margin-right: 0;
            }
            .fa-coins {
                margin-right: 0.2em;
                text-shadow: 0px 1px 1px black; // to create a "border" around the coins so that it's more visible against the background
            }
            &.pp .fa-coins {
                color: #E5E4E2;
            }
            &.gp .fa-coins {
                color: #FFD700;
            }
            &.ep .fa-coins {
                color: #F2E279;
            }
            &.sp .fa-coins {
                color: #C0C0C0;
            }
            &.cp .fa-coins {
                color: #B87333;
            }
        }
        flex: 1;
    }
}